.customerForm .form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}
.customerForm .form-group
{
    padding: 5px;
    margin-top: 40px;
    margin-left: 20px;
}
.customerForm .form-control:focus {
    /*border-color: #6db3fd;*/
    box-shadow: 0 0 0 0px #6db3fd;
}
.customerForm label{
    text-align: right;
}

table.CustomerTable td,
table.CustomerTable th {
    border: 1px solid #4D294B;
    padding: 5px;
    text-align: center;
}.updatePasswordForm .form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}
.updatePasswordForm .form-control:focus {
    /*border-color: #6db3fd;*/
    box-shadow: 0 0 0 0px #6db3fd;
}
.updatePasswordForm .form-group{
    padding: 5px;
    margin-top: 40px;
    margin-left: 20px;
}
#table{
    padding: 30px;
    border:2px solid #4D294B;

}
.customerForm{
    padding-top: 30px; ;
}

