#registration1 {
    min-width: 350px;
    background-color: white;
    margin: 0px auto;
}

.registration {
    margin-top: 20px;
    padding: 20px 20px 0px 30px;
}

.create {
    background-color: #f9f9f9;
    margin-top: 20px;
    padding: 20px 20px 0px 30px;
}

.registrationForm .form-control:focus {
    /*border-color: #6db3fd;*/
    box-shadow: 0 0 0 0px #6db3fd;
}

.registrationForm .form-control {

    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}


/*.registrationForm .btn {
    padding-left: 130px;
    padding-right: 130px;
    border-radius: 0px;
}*/

.dropdown {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

.registrationForm p {
    color: #408cbd;
    padding-top: 10px;
}

.registrationForm .gender {
    padding-top: 10px;
    padding-left: 5px;
}

.registrationForm .form-actions {
    padding-top: 5px;
}

#pane {
    overflow-y: hidden;
    width: 100%;
    background-image: url('../images/facebook.jpg');
    background-size: 100% 100%;
    height: 865px;
    background-repeat: no-repeat;
}
