body {
    overflow: hidden;
}

.nav-group {
    margin-top: 20%;
}

.nav-group-item {
    margin-top: 4%;
    color: #F8F8F8;
    padding-top: 20px;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

.nav-group a:hover {
    background-color: #8e44ad;
    color: #F8F8F8;
}

.nav-group .icon {
    color: #F8F8F8;
}

#button {
    position: relative;
    text-align: center;

}

#two {
    background: none repeat scroll 0 0 #ffffff;
    margin: 0px;
    width: 120px;
    height: 0;
    overflow: hidden;
    left: 0;
    line-height: 20px;
    position: absolute;
    top: 50px;
    padding-top: 10px;
}

#button:hover > #two {
    background-color: #4D294B;
    display: block;
    left: 45px;
    right: 0px;
    height: 80px;
}

/*----------slidebarends----------*/

/*---------header-starts------*/
.toolbar .toolbar-header {
}

.header-container-wrapper {
    background-color: black;
    margin-top: 0px;
    border: none;
}

/*---itemform-*/
.itemform .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

.itemform .forminput {
    box-shadow: none;
}

.itemform .control-label {
    text-align: right;
}

/*----------loginpage----------*/
body {

    background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    background: -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    background: -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    background: -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    background: linear-gradient(90deg, #16222A 10%, #3A6073 90%);
}

.middlePage {
    width: 980px;
    height: 500px;
    position: absolute;
    top: 100px;
    bottom: 0px;
    left: 0px;
    right: 140px;
    margin: auto;
}

.hidden-sm-down {
    background-image: url('../images/login.jpg');
    width: 500px;
    height: 450px;
    left: 180px;
    background-repeat: no-repeat;

}

.lform .linput {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    box-shadow: none;

}

#submit {
    background: #3fa5d0;
    border-color: rgba(204, 204, 204, 1);
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    border-radius: 4px;
    border-width: 0px;
    width: 40%;
}

.supplierform .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    box-shadow: none;
}

table.SupplierTable td,
table.SupplierTable th {
    border: 1px solid #4D294B;
    padding: 5px;
    text-align: center;
}

table.ItemTable td,
table.ItemTable th {
    border: 1px solid #4D294B;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .col-xs-2 {
        width: 10px;
        height: 380px;
    }
}

.containertable {
    padding: 80px 20px 0px 20px;
}

.supbuttons a:hover {
    text-decoration: none;
}

/*PorfilePage*/
.pform .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

@media screen and (max-width: 980px) {
    .ProfilePage {
        margin-left: -330px;
    }

}

/*forgotpassword*/

.fform .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-radius: 0px;
}

.loginrow {
    margin-right: 30%;
    margin-left: 35%;
    margin-top: 10%;
    width: auto;
    height: auto;
    background-color: #FFFFFF;
}

/*updatePasswordForm*/
.updatePasswordForm .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    box-shadow: none;
}