<div class="window">
	<div class="window-content">
		<div class="pane-group">
			<div class="pane-sm sidebar">
				<div ng-include="'app/views/sidebar-view.html'"></div>
			</div>
			<!-- sidebar -->
			<div class="pane" style="border:none;">
				<div ng-include="'app/views/navbar-view.html'"></div>
				<div class="containertable" style="padding-top:90px;">
				<div class="btn-group pull-right" style="margin:20px 0px 20px " >
					<a ui-sref="newCustomer" type = "submit" class="btn btn-primary" title="New Customer">New Customer</a>
				</div>
				<table class="CustomerTable" id="table">
					<thead style="background-color: #8c8c8c;color: #F8F8F8;font-size: 15px;">
					<tr>
						<th><input type="checkbox" value=""></th>
						<th align="center">PersonID</th>
						<th>LastName</th>
						<th>FirstName</th>
						<th>E-mail</th>
						<th>Phone Number</th>
						<th>Gender</th>
						<th>LeadSource</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					</thead>
					<tbody ng-repeat="customer in customers">
					<tr>
						<td><input type="checkbox" value={{customer.email}}></td>
						<td>{{customer.rowId}}</td>
						<td>{{customer.last_name}}</td>
						<td>{{customer.first_name}} </td>
						<td>{{customer.email}} </td>
						<td>{{customer.phone_number}}</td>
						<td>{{customer.gender}}</td>
						<td>{{customer.leadsource}}</td>
						<td><a ui-sref="editCustomer" ng-click="edit(customer.email)">Edit</a></td>
						<td><a ui-sref="customers" ng-click="delete(customer.email)">Delete</a></td>


					</tr>
					</tbody>
			</table>
			</div>
		</div>
	</div>
</div>
</div>
