<div class="window">
    <div class="window-content">
        <div class="pane-group">
            <div class="pane-sm sidebar">
                <div ng-include="'app/views/sidebar-view.html'"></div>
            </div>
            <!-- sidebar -->
            <div class="pane" style="border: none;">
                <div ng-include="'app/views/navbar-view.html'"></div>
                        <form method="post" id="customer_form" class="customerForm" name="customerForm" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="first_name" class="required col-sm-3 col-md-3 col-lg-2 control-label ">First Name:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-10">
                                            <input type="text" ng-model="customer.first_name" name="first_name" value="" class="form-control" id="first_name" required>
                                            <span style="color: red" ng-show="customerForm.first_name.$dirty && customerForm.first_name.$error.required">first name is required</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="last_name" class=" col-sm-3 col-md-3 col-lg-2 control-label ">Last Name:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-10">
                                            <input type="text" ng-model="customer.last_name" name="last_name" value="" class="form-control" id="last_name" required>
                                            <span style="color: red" ng-show="customerForm.last_name.$dirty && customerForm.last_name.$error.required">last name is required</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 col-md-3 col-lg-2 control-label not_required">E-Mail:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-10">
                                            <input type="email" ng-model="customer.email" name="email" value="" class="form-control" id="email" required>
                                            <span style="color: red">{{err}}</span><span style="color: red" ng-show="customerForm.email.$dirty && customerForm.email.$error.required">email is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone_number" class="col-sm-3 col-md-3 col-lg-2 control-label ">Phone Number:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-10">
                                            <input type="number" ng-model="customer.phone_number" name="phone_number" value="" class="form-control" id="phone_number" minlength="10" maxlength="10" required>
                                            <span style="color: red" ng-show="customerForm.phone_number.$error.minlength" class="error">phone number must be 10 digits</span>
                                            <span style="color: red" ng-show="customerForm.phone_number.$dirty && customerForm.phone_number.$error.required">phone number is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-2 control-label">Gender</label>
                                        <div class="col-sm-9 col-md-9 col-lg-10">
                                            <input type="radio" name="gender" ng-model="customer.gender" value="Male" required> Male
                                            <input type="radio" name="gender" ng-model="customer.gender" value="Female" required> Female
                                            <span style="color: red" ng-show="customerForm.gender.$dirty && customerForm.gender.$error.required">gender is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="leadsorce" class="col-sm-3 col-md-3 col-lg-2 control-label ">LeadSource:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-10">
                                            <input type="text" ng-model="customer.leadsource" name="leadsource" value="" class="form-control" id="leadsorce" required/>
                                            <span style="color: red" ng-show="customerForm.leadsource.$dirty && customerForm.leadsource.$error.required">leadSource is required</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 col-sm-3 col-xs-3 control-label">Choose Avatar</label>
                                        <div class="col-sm-9 col-md-9 col-lg-10">
                                            <img src="http://52.4.16.181/wingspos//img/avatar.png" class="img-polaroid" id="image_empty" alt=""/>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 col-md-3 col-lg-2 control-label ">&nbsp;</label>
                                    <div class="col-sm-9 col-md-9 col-lg-10">
                                        <ul class="list-unstyled text-center">
                                            <li >
                                                <div id="avatar">
                                                    <div class="col-sm-9 col-md-9 col-lg-10">
                                                    </div>
                                                </div>
                                                <br /><br />
                                            </li>
                                            <li>
                                                <input type="file" name="image_id" ng-model="customer.image" value="" id="image_id"  />
                                                <span style="color: red" ng-show="customerForm.$dirty && cusomerForm.image_id.$error.required">image is required</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address1" class="required col-sm-3 col-md-3 col-lg-2 control-label ">Address1:</label>
                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" ng-model="customer.address1" name="address1" value="" class="form-control" id="address1" required>
                                    <span style="color: red" ng-show="customerForm.address1.$dirty && customerForm.address1.$error.required">address1 is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address2" class="required col-sm-3 col-md-3 col-lg-2 control-label ">Address2:</label>
                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" ng-model="customer.address2" name="address2" value="" class="form-control" id="address2" required>
                                    <span style="color: red" ng-show="customerForm.address2.$dirty && customerForm.address2.$error.required">address2 is required</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="city" class="required col-sm-3 col-md-3 col-lg-2 control-label ">City:</label>
                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" ng-model="customer.city" name="city" value="" class="form-control" id="city" required>
                                    <span style="color: red" ng-show="customerForm.city.$dirty && customerForm.city.$error.required">city is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="state" class="required col-sm-3 col-md-3 col-lg-2 control-label ">state/province:</label>
                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" ng-model="customer.state" name="state" value="" class="form-control" id="state" required>
                                    <span style="color: red" ng-show="customerForm.state.$dirty && customerForm.state.$error.required">state/province is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="zip" class="col-sm-3 col-md-3 col-lg-2 control-label ">zip:</label>
                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="number" ng-model="customer.zip" name="zip" value="" class="form-control" id="zip" maxlength="6" required>
                                    <span style="color: red" ng-show="customerForm.zip.$error.maxlength">zip must be 6 digits</span>
                                    <span style="color: red" ng-show="customerForm.zip.$dirty && customerForm.first_name.$error.required">zip is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country" class="required col-sm-3 col-md-3 col-lg-2 control-label ">Country:</label>
                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" ng-model="customer.country" name="country" value="" class="form-control" id="country" required>
                                    <span style="color: red" ng-show="customerForm.country.$dirty && customerForm.country.$error.required">country is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comments" class="required col-sm-3 col-md-3 col-lg-2 control-label ">comments:</label>
                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <textarea class="form-control" name="comments" value="" id="comments" ng-model="customer.comments" required></textarea>
                                    <span style="color: red" ng-show="customerForm.comments.$dirty && customerForm.comments.$error.required">comments is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="companyname" class="required col-sm-3 col-md-3 col-lg-2 control-label ">Company Name:</label>
                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" ng-model="customer.company_name" name="companyname" value="" class="form-control" id="companyname" required>
                                    <span style="color: red" ng-show="customerForm.companyname.$dirty && customerForm.companyname.$error.required">Company Name is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="account" class="required col-sm-3 col-md-3 col-lg-2 control-label ">Account#:</label>
                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="number" ng-model="customer.account" name="account" value="" class="form-control" id="account" required>
                                    <span style="color: red" ng-show="customerForm.account.$dirty && customerForm.account.$error.required">account is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="taxable" class="col-sm-3 col-md-3 col-lg-2 control-label ">Taxable:</label>
                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="checkbox" name="taxable" value="1"  checked="checked" id="taxable" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="sbutton" style="padding-left:100px;padding-top:20px;">
                                    <button type="submit" class = "btn btn-primary"  ng-disabled="customerForm.$invalid" ng-click="editCustomer(customer)">Update</button>
                                    <button  type="button" class = "btn btn-danger" ng-click="cancel()" >Cancel</button>
                                </div>
                            </div>
                        </form>

            </div>
        </div>
    </div>
</div>
