<div class="window">
    <div class="window-content">
        <div class="pane-group">
            <div class="pane-sm sidebar">
                <div ng-include="'app/views/sidebar-view.html'"></div>
            </div>
            <!-- sidebar -->
            <div class="pane" style="border:none;">
                <div ng-include="'app/views/navbar-view.html'"></div>
                <form name="supplierform" style="padding-top:70px;" class="supplierform" novalidate>
                    <div class="form-group">
                        <label for="company" class=" col-sm-3 col-md-3 col-lg-2"
                               style="text-align:right;">CompanyName:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" name="companyname" ng-model="supplier.companyname"  value="" class="form-control" id="company" required/>
                            <span style="color: red" ng-show="supplierform.companyname.$dirty && supplierform.companyname.$error.required">company name is required</span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="first_name" class=" col-sm-3 col-md-3 col-lg-2"
                                       style="text-align:right;">First Name:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" name="first_name"  class="form-control" ng-model="supplier.first_name" id="first_name" required/>
                                    <span style="color: red" ng-show="supplierform.first_name.$dirty && supplierform.first_name.$error.required">firstname is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last_name" class=" col-sm-3 col-md-3 col-lg-2 "
                                       style="text-align:right;">Last Name:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" name="last_name" class="form-control"  ng-model="supplier.last_name" id="last_name" required/>
                                    <span style="color: red" ng-show="supplierform.last_name.$dirty && supplierform.last_name.$error.required">lastname is required</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class=" col-sm-3 col-md-3 col-lg-2 "
                                       style="text-align:right;">Email:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="email" name="email" class="form-control"  ng-model="supplier.email" name="email" id="email" required/>
                                    <span style="color: red">{{err}}</span><span style="color:Red" ng-show="supplierform.email.$dirty&&supplierform.email.$error.required"> This is Required! </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phonenumber"
                                       class=" col-sm-3 col-md-3 col-lg-2 control-label "
                                       style="text-align:right;">PhoneNumber:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="number" name="phonenumber" value="" class="form-control"   ng-model="supplier.phonenumber" id="phonenumber" required/>
                                    <span style="color:Red" ng-show="supplierform.phonenumber.$dirty&&supplierform.phonenumber.$error.required"> This is Required! </span>
                                </div>
                            </div>


                            <!--<div class="form-group">-->
                            <!--<label for="Avatar"-->
                            <!--class="col-sm-3 col-md-3 col-lg-2 control-label "-->
                            <!--style="text-align:right;">Choose Avatar:</label>-->
                            <!--<div class="col-sm-9 col-md-9 col-lg-10">-->
                            <!--<img src="../css/login.jpg"-->
                            <!--class="img-polaroid"-->
                            <!--style="padding-top: 20px;text-align:right;"-->
                            <!--id="image_empty" alt=""/>-->
                            <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group">-->
                            <!--<label class="col-sm-3 col-md-3 col-lg-2 control-label "></label>-->
                            <!--<div class="col-sm-9 col-md-9 col-lg-10">-->
                            <!--<ul class="i-feild text-center">-->
                            <!--<div id="avatar">-->

                            <!--<div class="col-sm-9 col-md-9 col-lg-10">-->


                            <!--</div>-->
                            <!--</div>-->
                            <!--<br/><br/>-->
                            <!--<li>-->
                            <!--<input type="file" name="imageid"  ng-model="supplier.imageid" value="" id="image_id" required/>-->
                            <!--<span style="color:Red" ng-show="supplierform.imageid.$dirty&&supplierform.imageid.$error.required"> This is Required! </span>-->

                            <!--</li>-->

                            <!--</ul>-->

                            <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <label for="last_name" class=" col-sm-3 col-md-3 col-lg-2 "
                                       style="text-align:right;">Adress1:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" name="adress1" class="form-control"   ng-model="supplier.adress1" id="adress1" required/>
                                    <span style="color: red" ng-show="supplierform.adress1.$dirty && supplierform.adress1.$error.required">Adress is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="adress2" class=" col-sm-3 col-md-3 col-lg-2 control-label "
                                       style="text-align:right;">Adress2:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" name="adress2" class="form-control" ng-model="supplier.adress2"  id="adress2"  required/>
                                    <span style="color: red" ng-show="supplierform.adress2.$dirty && supplierform.adress2.$error.required">Adress is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city" class=" col-sm-3 col-md-3 col-lg-2 control-label "
                                       style="text-align:right;">City:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" name="city" class="form-control" ng-model="supplier.city" id="city"  required/>
                                    <span style="color: red" ng-show="supplierform.city.$dirty && supplierform.city.$error.required">city is required</span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="state/province" class=" col-sm-3 col-md-3 col-lg-2 control-label "
                                       style="text-align:right;">State/Province:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" name="state" class="form-control" id="state"  ng-model="supplier.state" required/>
                                    <span style="color: red" ng-show="supplierform.state.$dirty && supplierform.state.$error.required">state is required</span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Zip" class=" col-sm-3 col-md-3 col-lg-2 control-label "
                                       style="text-align:right;">Zip:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="number" name="zip" class="form-control" id="zip"  ng-model="supplier.zip" required/>
                                    <span style="color: red" ng-show="supplierform.zip.$dirty && supplierform.zip.$error.required">zip is required</span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country" class=" col-sm-3 col-md-3 col-lg-2 control-label "
                                       style="text-align:right;">Country:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" name="country" class="form-control" id="country"  ng-model="supplier.country" required/>
                                    <span style="color: red" ng-show="supplierform.country.$dirty && supplierform.country.$error.required">country is required</span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comments" style="text-align:right;" class="required col-sm-3 col-md-3 col-lg-2 control-label ">comments:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <textarea class="form-control" name="comments" value="" id="comments"  ng-model="supplier.comments" required></textarea>
                                    <span style="color: red" ng-show="supplierform.comments.$dirty && supplierform.comments.$error.required">comments is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="account" class=" col-sm-3 col-md-3 col-lg-2 control-label "
                                       style="text-align:right;">Account:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="number" name="account" class="form-control" id="account" ng-model="supplier.account" required/>
                                    <span style="color: red" ng-show="supplierform.account.$dirty && supplierform.account.$error.required">account is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="sbutton" style="padding-left:100px;padding-top:20px;">
                            <button type="submit" class = "btn btn-primary" ng-disabled="supplierform.$invalid" ng-click="editsupplier(supplier)">Update</button>
                            <a href="#suppliers"><button  type="button" class = "btn btn-danger" style="background-color:#ac2925;color:#F8F8F8;" >Cancel</button></a>
                        </div>
                    </div>
            </div>

        </div>

    </div>


</div>


</div>
</form>
</div>
</div>
</div>
</div>