<div class="window">
    <div class="window-content">
        <div class="pane-group">
            <div class="pane-sm sidebar">
                <div ng-include="'app/views/sidebar-view.html'"></div>
            </div>
            <!-- sidebar -->
            <div class="pane">
                <div ng-include="'app/views/navbar-view.html'"></div>
                <div class="row" style="margin-top:100px;">
                    <form name="itemform" class="itemform" novalidate>
                        <div class="col-lg-12 ">
                            <div class="form-group">
                                <label for="item_number"
                                       class="col-sm-3 col-md-3 col-lg-2 control-label">UPC/EAN/ISBN:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="item_number" id="item_number"
                                           class="form-control forminput" ng-model="item.item_number" required/>
                                    <span style="color:Red"
                                          ng-show="itemform.item_number.$dirty&&itemform.item_number.$error.required"> This is Required! </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="product_id"
                                       class="col-sm-3 col-md-3 col-lg-2 control-label">ProductID:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="product_id" id="product_id"
                                           class="form-control forminput" ng-model="item.product_id" required/>
                                    <span style="color:Red"
                                          ng-show="itemform.product_id.$dirty&&itemform.product_id.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="additional_item_numbers" class="col-sm-3 col-md-3 col-lg-2 control-label ">Additional
                                    item numbers:</label>
                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <div class="form-group">
                                        ItemNumber: <input type="text" class="form-control forminput"
                                                           ng-model="item.item_num" name="item_num" required
                                                           style="width:200px;">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="item_name" class="col-sm-3 col-md-3 col-lg-2 control-label">Item
                                    Name:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="item_name" id="item_name"
                                           class="form-control forminput"
                                           ng-model="item.item_name" required/>
                                    <span style="color:Red"
                                          ng-show="itemform.item_name.$dirty&& itemform.item_name.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category"
                                       class="col-sm-3 col-md-3 col-lg-2 control-label">Category:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="category" id="category" class="form-control forminput"
                                           ng-model="item.category" required/>
                                    <span style="color:Red"
                                          ng-show="itemform.category.$dirty&&itemform.category.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="size" class="col-sm-3 col-md-3 col-lg-2 control-label">Size:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="size" id="size" class="form-control forminput"
                                           ng-model="item.size" required/>
                                    <span style="color:Red"
                                          ng-show="itemform.size.$dirty&&itemform.size.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="suplier_id"
                                       class="col-sm-3 col-md-3 col-lg-2 control-label">Supplier:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <select name="suplier_id" class="form-control forminput" style="width:225px;">
                                        <!--<option selected="selected">None</option>-->
                                        <!--<option selected="selected">XYZ</option>-->
                                        <!--<option selected="selected">Madhu Degitals services</option>-->
                                        <!--<option selected="selected">Vijay Packing services</option>-->

                                    </select>
                                        <!--<span style="color: red"-->
                                              <!--ng-show="itemform.suplier_id.$dirty && itemform.suplier_id.$error.required">This  is required</span>-->

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="reorder_level" class="col-sm-3 col-md-3 col-lg-2 control-label">ReorderLevel:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="reorder_level"
                                           class="form-control forminput" ng-model="item.reorder_level"/>
                                        <!--<span style="color: red"-->
                                              <!--ng-show="itemform.reorder_level.$dirty&& itemform.reorder_level.$error.required"> This is Required! </span>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="location" class="col-sm-3 col-md-3 col-lg-2 control-label">Location at
                                    Store:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="location" class="form-control forminput"
                                           ng-model="item.location"/>
                                        <!--<span style="color: red"-->
                                              <!--ng-show="itemform.location.$dirty&& itemform.location.$error.required"> This is Required! </span>-->

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description"
                                       class="col-sm-3 col-md-3 col-lg-2 control-label">Description:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <textarea name="description" cols="17" rows="5"
                                              class="form-control forminput" ng-model="item.description"></textarea>
                                        <!--<span style="color:Red"-->
                                              <!--ng-show="itemform.description.$dirty&& itemform.description.$error.required"> This is Required! </span>-->

                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="price_include_tax" class="col-lg-2 control-label ">Prices include
                                    Tax:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input id="input" type="checkbox" name="price_include_tax"  value="yes" ng-model="item.price_include_tax"/>
                                    <!--  checkbox  -->
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="is_service_item" class=" col-xs-12 col-lg-2 control-label ">Is Service Item (Does not have
                                    quantity)?:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input  type="checkbox" name="is_service_item"
                                            ng-model="item.is_service_item" value="yes"> <!--  checkbox  -->
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label  for="all_alt_dec" class="col-xs-12 col-lg-2 control-label">Allow Alt Description:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="checkbox" name="all_alt_dec"  ng-model="item.all_alt_dec" value="yes"> <!--  checkbox  -->
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="item_has_SN" class="col-xs-12 col-lg-2 control-label">Item has Serial Number:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input  type="checkbox" name="item_has_SN" value="yes" ng-model="item.item_has_SN">
                                    <!--  checkbox  -->
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <img src="http://52.4.16.181/wingspos//img/avatar.png" class="inputfield"
                                         id="image_empty" alt="">

                                    <div class="image-upload"><br>
                                        <input type="file" name="img" ng-model="item.img"></div>
                                </div>
                            </div>
                            <div class=" col-lg-12 headerbar"
                                 style="font-size: 15px;height:20px;;font-weight: bold;font-family: sans-serif;background-color:#2a85a0;color: #F8F8F8;">
                                <p>Pricing and Inventory</p>
                            </div>

                            <div class="form-group col-lg-12">
                                <label for="quantity" class="col-lg-2 control-label">Quantity:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="quality" class="form-control forminput"
                                           ng-model="item.quantity" required/>
                                    <span style="color:Red"
                                          ng-show="itemform.quantity.$dirty&& itemform.quantity.$error.required">
                                        This is Required! </span>


                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="cost_price" class="col-lg-2 control-label">Cost Price (Without
                                    Tax):</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="cost_price" class="form-control forminput"
                                           ng-model="item.cost_price" required/>
                                        <span style="color:Red"
                                              ng-show="itemform.cost_price.$dirty&& itemform.cost_price.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class=" form-group col-lg-12">
                                <label for="selling_price" class="col-lg-2 control-label">Selling Price:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="selling_price" class="form-control forminput"
                                           ng-model="item.selling_price" required/>
                                        <span style="color:Red"
                                              ng-show="itemform.selling_price.$dirty&& itemform.selling_price.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="promo_price" class="col-lg-2 control-label ">Promo Price:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="promo_price" class="form-control forminput"/>
                                        <!--<span style="color:Red"-->
                                              <!--ng-show="itemform.promo_price.$dirty&& itemform.promo_price.$error.required"> This is Required! </span>-->

                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="promo_start_date" class="col-lg-2 control-label ">Promo Start
                                    Date:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="date" name="promo_start_date" class="form-control forminput"/>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="promo_end_date" class="col-lg-2 control-label inputlable">Promo End
                                    Date:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="date" name="promo_end_date" class="form-control forminput"/>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="overrideDC" class="col-lg-2 control-label inputlable">Override Default
                                    Commission:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="checkbox" name="overrideDC"
                                           ng-model="item.overrideDC"  value="yes">
                                    <!--<span ng-show="itemform.OverrideDC.$dirty&& itemform.overrideDC.$error.required">This is required</span>-->
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="OverrideDT" class="col-lg-2 control-label inputlable">Override Default
                                    Tax:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="checkbox" name="OverrideDT" ng-model="item.OverrideDT" value="yes">
                                </div>
                            </div>
                            <div class="form-group col-lg-12 ">
                                <button class="btn btn-primary" ng-disabled="itemform.$invalid"
                                        ng-click="UpdateItem(item)" style="margin-left:80px;">Update
                                </button>&nbsp;&nbsp;&nbsp;
                               <a href="#items"><button class="btn btn-danger">Cancel</button></a>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</div>