
 <div class="container-fluid ">
      <div class="row mainrow">
          <div class="loginrow col-lg-8" style="margin-top:20%;">
               

                 <form name="fform" class="fform" novalidate>
 <div class="text-center" >
                    Forgot Password
                </div>

                        <div class="form-group" style="margin-top:10%;">
                                <input type="text" class="form-control" name="email" placeholder="Email" ng-model="forgot.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required />
                                <span style="color:Red" ng-show="fform.email.$dirty&&fform.email.$error.required"> This is Required! </span>
                                <span style="color:Red" ng-show="fform.email.$dirty&&fform.email.$error.pattern">Please Enter Valid Email</span><br/><br/>
</div>
                 <div class="form-group">
                            <button type="submit" class="btn btn-primary"  
                                ng-click="forgotPasswordVal(forgot)" ng-disabled="fform.$invalid">submit
                            </button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn btn-primary">Reset
                            </button>&nbsp;&nbsp;&nbsp;&nbsp;

                                <button type="button" ng-click="back()" class="btn btn-danger">Back
                                </button>&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
</div>


                </form>
        

    </div>
</div>





