<div class="window">
    <div class="window-content">
        <div class="pane-group">
            <div class="pane-sm sidebar">
                <div ng-include="'app/views/sidebar-view.html'"></div>
            </div>
            <!-- sidebar -->
            <div class="pane" style="border: none;overflow-x:hidden;width:100%;">
                <div ng-include="'app/views/navbar-view.html'"></div>
            </div>
        </div>
    </div>
</div>