<div class="window">
    <div class="window-content">
        <div class="pane-group">
            <div class="pane-sm sidebar">
                <div ng-include="'app/views/sidebar-view.html'"></div>
            </div>
            <!-- sidebar -->
            <div class="pane" style="border:none;">
                <div ng-include="'app/views/navbar-view.html'"></div>
                <div class="row" style="margin-top:60px;">
                    <div class="col-lg-10">
                    </div>
                    <div class="btn-group pull-right" style="margin:20px 0px 20px " >
                        <a ui-sref="item" type = "submit" class = "btn btn-primary" title="New Item">Add Item</a>
                    </div>
                </div>
                <div class="itemtable"style="margin-top:10px;margin-left:5px;">
                    <table class="ItemTable">
                        <thead style="background-color: #8c8c8c;color: #F8F8F8;font-size: 15px;">
                        <tr>
                            <td align="center"><input type="checkbox"></td>
                            <th align="center">UPC/EAN/ISBN</th>
                            <th align="center">ItemID</th>
                            <th align="center">Item Name</th>
                            <th align="center">Catogiry</th>
                            <th align="center">Size</th>
                            <th align="center">Cost Price</th>
                            <th align="center">Selling Price</th>
                            <th align="center">Quantity</th>
                            <th align="center">Edit</th>
                            <th align="center">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in items">
                            <td align="center"><input type="checkbox"></td>
                            <td align="center">{{item.item_number}}</td>
                            <td align="center">{{item.item_num}}</td>
                            <td align="center">{{item.item_name}}</td>
                            <td align="center">{{item.category}}</td>
                            <td align="center">{{item.size}}</td>
                            <td align="center">{{item.cost_price}}</td>
                            <td align="center">{{item.selling_price}}</td>
                            <td align="center">{{item.quantity}}</td>
                            <td><a ui-sref="editItem" ng-click="editItem(item.item_number)">Edit</a></td>
                            <td><a ui-sref="items" ng-click="deleteItem(item.item_number)">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>