<div class="window">
    <div class="window-content">
        <div class="pane-group">
            <div class="pane-sm sidebar">
                <div ng-include="'app/views/sidebar-view.html'"></div>
            </div>
            <!-- sidebar -->
            <div class="pane" style="border:none;">
                <div ng-include="'app/views/navbar-view.html'"></div>
            <div class="row" style="margin-top:150px;">
                    <form name="itemform" class="itemform" novalidate>
                        <div class="col-lg-12 ">
                            <div class="form-group">
                                <label for="item_number"
                                       class="col-sm-3 col-md-3 col-lg-2 control-label">UPC/EAN/ISBN:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="item_number" id="item_number"
                                           class="form-control forminput" ng-model="item.item_number" required/>
                                   <span style="color: red">{{err}}</span> <span style="color:Red"
                                          ng-show="itemform.item_number.$dirty&&itemform.item_number.$error.required"> This is Required! </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="product_id"
                                       class="col-sm-3 col-md-3 col-lg-2 control-label">ProductID:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="product_id" id="product_id"
                                           class="form-control forminput" ng-model="item.product_id" required/>
                                    <span style="color:Red"
                                          ng-show="itemform.product_id.$dirty&&itemform.product_id.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="additional_item_numbers" class="col-sm-3 col-md-3 col-lg-2 control-label ">Additional
                                    item numbers:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <fieldset data-ng-repeat="item_num in itemnumbers">
                                        ItemNumber: <input type="text" id="additional_item_numbers" class="form-control forminput"
                                                           ng-model="item.item_num" name="item_num" required
                                                           style="width:400px;">
                                        <span><button class=" btn btn-danger remove" ng-show="$last" ng-click="removeItems()">Delete
                                        </button></span>
                                        <span style="color: red"
                                              ng-show="itemform.item_num.$dirty&&itemform.item_num.$error.required"> This is Required! </span>
                                    </fieldset>
                                    <button class="btn btn-custom" style="background-color:#4D294B;color:#F8F8F8;" ng-click="addItemNumber()">Add Item Number</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="item_name" class="col-sm-3 col-md-3 col-lg-2 control-label">Item
                                    Name:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="item_name" id="item_name"
                                           class="form-control forminput"
                                           ng-model="item.item_name" required/>
                                    <span style="color:Red"
                                          ng-show="itemform.item_name.$dirty&& itemform.item_name.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category"
                                       class="col-sm-3 col-md-3 col-lg-2 control-label">Category:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="category" id="category" class="form-control forminput"
                                           ng-model="item.category" required/>
                                    <span style="color:Red"
                                          ng-show="itemform.category.$dirty&&itemform.category.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="size" class="col-sm-3 col-md-3 col-lg-2 control-label">Size:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="size" id="size" class="form-control forminput"
                                           ng-model="item.size" required/>
                                    <span style="color:Red"
                                          ng-show="itemform.size.$dirty&&itemform.size.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="suplier_id"
                                       class="col-sm-3 col-md-3 col-lg-2 control-label">Supplier:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <select id="suplier_id" name="suplier_id" class="form-control forminput" style="width:250px;"
                                            ng-model="item.suplier_id" required>
                                        <option selected="selected">None</option>
                                        <option selected="selected">XYZ</option>
                                        <option selected="selected">Madhu Degitals services</option>
                                        <option selected="selected">Vijay Packing services</option>

                                    </select>
                                        <span style="color: red"
                                              ng-show="itemform.suplier_id.$dirty && itemform.suplier_id.$error.required">This  is required</span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="reorder_level" class="col-sm-3 col-md-3 col-lg-2 control-label">ReorderLevel:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" id="reorder_level" name="reorder_level"
                                           class="form-control forminput" ng-model="item.reorder_level" required/>
                                        <span style="color: red"
                                              ng-show="itemform.reorder_level.$dirty&& itemform.reorder_level.$error.required"> This is Required! </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="location" class="col-sm-3 col-md-3 col-lg-2 control-label">Location at
                                    Store:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" id="location" name="location" class="form-control forminput"
                                           ng-model="item.location" required/>
                                        <span style="color: red"
                                              ng-show="itemform.location.$dirty&& itemform.location.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description"
                                       class="col-sm-3 col-md-3 col-lg-2 control-label">Description:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <textarea id="description" name="description" cols="17" rows="5"
                                              class="form-control forminput" ng-model="item.description"
                                              required></textarea>
                                        <span style="color:Red"
                                              ng-show="itemform.description.$dirty&& itemform.description.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="price_include_tax" class="col-lg-2 control-label ">Prices include
                                    Tax:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input id="input" id="price_include_tax" type="checkbox" name="price_include_tax"  value="yes" ng-model="item.price_include_tax" required/>
                                    <!--  checkbox  -->
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="is_service_item" class=" col-xs-12 col-lg-2 control-label ">Is Service Item (Does not have
                                    quantity)?:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input  id="is_service_item" type="checkbox" name="is_service_item"
                                            ng-model="item.is_service_item" value="yes" required> <!--  checkbox  -->
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label  for="all_alt_dec" class="col-xs-12 col-lg-2 control-label">Allow Alt Description:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input id="all_alt_dec" type="checkbox" name="all_alt_dec"  ng-model="item.all_alt_dec" value="yes" required> <!--  checkbox  -->
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="item_has_SN" class="col-xs-12 col-lg-2 control-label">Item has Serial Number:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input id="item_has_SN" type="checkbox" name="item_has_SN" value="yes" ng-model="item.item_has_SN" required>
                                    <!--  checkbox  -->
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <img src="http://52.4.16.181/wingspos//img/avatar.png" class="inputfield"
                                         id="image_empty" alt="">

                                    <div class="image-upload"><br>
                                        <input type="file" name="img" ng-model="item.img"></div>
                                </div>
                            </div>
                            <div class=" col-lg-12 headerbar"
                                 style="font-size: 15px;height:20px;;font-weight: bold;font-family: sans-serif;background-color:#2a85a0;color: #F8F8F8;">
                                <p>Pricing and Inventory</p>
                            </div>

                            <div class="form-group col-lg-12">
                                <label for="quantity" class="col-lg-2 control-label">Quantity:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" id="quantity" name="quantity" class="form-control forminput"
                                           ng-model="item.quantity" required/>
                                    <span style="color:Red"
                                          ng-show="itemform.quality.$dirty&& itemform.quality.$error.required">
                                        This is Required! </span>


                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="cost_price" class="col-lg-2 control-label">Cost Price (Without
                                    Tax):</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" name="cost_price" id="cost_price" class="form-control forminput"
                                           ng-model="item.cost_price" required/>
                                        <span style="color:Red"
                                              ng-show="itemform.cost_price.$dirty&& itemform.cost_price.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class=" form-group col-lg-12">
                                <label for="selling_price" class="col-lg-2 control-label">Selling Price:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input id="selling_price" type="text" name="selling_price" class="form-control forminput"
                                           ng-model="item.selling_price" required/>
                                        <span style="color:Red"
                                              ng-show="itemform.selling_price.$dirty&& itemform.selling_price.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="promo_price" class="col-lg-2 control-label ">Promo Price:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="text" id="promo_price" name="promo_price" class="form-control forminput"
                                           ng-model="item.promo_price" required/>
                                        <span style="color:Red"
                                              ng-show="itemform.promo_price.$dirty&& itemform.promo_price.$error.required"> This is Required! </span>

                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="promo_start_date" class="col-lg-2 control-label ">Promo Start
                                    Date:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="date" id="promo_start_date" name="promo_start_date" class="form-control forminput" ng-model="item.promo_start_date"/>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="promo_end_date" id="promo_end_date" class="col-lg-2 control-label inputlable">Promo End
                                    Date:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="date" name="promo_end_date" class="form-control forminput" required
                                           ng-model="item.promo_end_date"/>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="overrideDC" class="col-lg-2 control-label inputlable">Override Default
                                    Commission:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="checkbox" id="overrideDC" name="overrideDC"
                                           ng-model="item.override_DC"  value="yes" required>
                                    <span ng-show="itemform.OverrideDC.$dirty&& itemform.overrideDC.$error.required">This is required</span>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="OverrideDT" class="col-lg-2 control-label inputlable">Override Default
                                    Tax:</label>

                                <div class="col-sm-9 col-md-9 col-lg-10">
                                    <input type="checkbox" id="OverrideDT" name="OverrideDT" ng-model="item.Override_DT" value="yes" required>
                                </div>
                            </div>
                            <div class="form-group col-lg-10 ">
                                <button class="btn btn-primary" style="color:#F8F8F8;margin-left:80px;" ng-disabled="itemform.$invalid"
                                        ng-click="addItem(item)">Submit
                                </button>&nbsp;&nbsp;
                                <a href="#items"><button class="btn btn-danger" style="color:#F8F8F8;">Cancel</button></a>
                            </div>
                        </div>
                    </form>

                </div>
                </div>
            </div>
    </div>
</div>
