<div class="middlePage">
    <div class="panel-body">

        <div class="row">
            <!-- image -->
            <div class="hidden-sm-down col-md-10 image">

            </div>
            <!-- image -->
            <div class="col-xs-2 col-sm-4 col-md-5 col-lg-5"
                 style="margin-left: 1px;background-color:white;border:2px solid #F8F8F8;color: #F8F8F8;width:350px;height:440px;">

                <form class="lform" name="lform" novalidate style="padding:13.5px;">
                    <h3 class="text-center" style="color:black;">SIGN IN</h3>
                    <!-- email -->
                    <span style="color: red">{{err}}</span>
                    <div class="form-group" style="margin-top:50px;">
                        <input type="text" class="form-control linput" style="box-shadow: none;" name="email"
                               ng-model="login.email" placeholder="Email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                               required/>
                        <span style="color:Red" ng-show="lform.email.$dirty&&lform.email.$error.required"> This is Required! </span>
                        <span style="color:Red" ng-show="lform.email.$dirty&&lform.email.$error.pattern">Please Enter Valid Email</span><br/><br/>
                    </div>
                    <!-- email -->

                    <!-- password -->
                    <div class="form-group" style="margin-top:20px;">
                        <input type="password" class="form-control linput" style="box-shadow: none;"
                               ng-model="login.password" placeholder="Password" name="password"
                               ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required/>
                        <span style="color:Red" ng-show="lform.password.$dirty&&lform.password.$error.required"> This is Required! </span>
                        <span ng-show="lform.password.$error.pattern"
                              style="color:red">Not valid password.</span><br/><br/>
                    </div>
                    <!-- password -->

                    <div class="form-group" style="margin-top:-40px;">
                 <span class="col-sm-5 col-lg-12" style="padding-left:160px;color:white;">
                     <a href="#forgotPassword" style="text-decoration: none;color:red;">Forgotpassword?</a>
      </span>
                    </div>

                    <div class="form-group" style="margin-top:70px;">

                        <div class="col-sm-6 col-md-6 col-lg-6" style="padding-left:1px;">
                            <a ui-sref="registration">
                                <button type="submit" class="btn btn-primary">Register</button></a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6"  style="padding-left:50px;">
                            <button type="submit" class="btn btn-primary"
                                    ng-click="loginVal(login)" ng-disabled="lform.$invalid">
                                Login</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>