<header class="header-container-wrapper">
<div class="row">
<div class="col-sm-2 col-md-10 col-lg-10"  >
    <h1 class="title" style="color:#F8F8F8;padding-top:5px;font-weight:bolder;font-size:20px;">Welcome To My App</h1>
</div>
         <div class="col-lg-2 col-sm-2 col-md-2" id="button">
             <button type="submit" class="btn btn-custom" >
                 <span class="icon icon-cog" style="color:black">
                 </span>
             </button>
          <div id="two">
               <a  ui-sref="profile" style="margin-left:-10px; color:white;">
               <span class="icon icon-user" style="padding:10px;"></span>Profile</a><br>

              <a ui-sref="updatePassword" style="color:#4189BA; color:white;">
               <span class="icon icon-cog" style="padding:10px; color:#4189BA;color:white; "></span>updatepassword</a><br>
               <a ui-sref="login" style="color:white;">
               <span class="icon icon-logout" style="padding:10px;"></span>Logout</a>
          </div>
         </div>
  </div>
</header>


