<div class="window">
    <div class="window-content">
        <div class="pane-group"style="overflow-x:hidden;">
            <div class="pane-sm sidebar">
                <div ng-include="'app/views/sidebar-view.html'"></div>
            </div>
            <!-- sidebar -->
            <div class="pane" style="border:none;overflow-x:hidden;">
                <div ng-include="'app/views/navbar-view.html'"></div>
                <form name="profile" class="pform" style="padding-top:100px;"novalidate>
                    <div class="row">
                        <div class="col-md-12">


                            <div class="form-group">
                                <label for="first_name" class=" col-sm-3 col-md-3 col-lg-2"
                                       style="text-align:right;">First Name:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" name="first_name" value="" class="form-control"
                                           id="first_name" ng-model="user.first_name" style="box-shadow: none;"
                                           placeholder="firstname"
                                           required/><span
                                        ng-show="profile.$dirty && profile.first_name.$error.required"
                                        style="color:red;">first name is required</span>
                                </div>
                            </div>

                            <label for="last_name" class=" col-sm-3 col-md-3 col-lg-2 "
                                   style="text-align:right;">Last Name:</label>
                            <div class="col-sm-9 col-md-9 col-lg-9">
                                <div class="form-group">
                                    <input type="text" name="last_name" value="" class="form-control" id="last_name"
                                           ng-model="user.last_name" placeholder="lastname"
                                           style="box-shadow: none;" required/><span
                                        ng-show="profile.$dirty && profile.last_name.$error.required"
                                        style="color:red;">lastname is required</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class=" col-sm-3 col-md-3 col-lg-2 "
                                       style="text-align:right;">Email:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="email" name="email" value="" class="form-control"
                                           style="box-shadow: none;" id="email" ng-model="user.email"
                                           placeholder="email" required/><span
                                        ng-show="profile.$dirty && profile.email.$error.required"
                                        style="color:red;">email is required</span>
                                </div>
                            </div>


                            <div class="form-group col-lg-12" style="padding-top:25px;">
                                <label for="gender" class=" col-sm-3 col-md-3 col-lg-2 "
                                       style="text-align:right;">Gender: </label>
                                <div class="col-sm-9 col-md-9 col-lg-4">

                                    <input type="radio" name="gender" id="gender" style="box-shadow: none;"
                                           value=" Male" ng-model="user.gender" required/>Male
                                    <input type="radio" name="gender" id="gender" value="Female"
                                           ng-model="user.gender" required/>Female
                                    <span ng-show="profile.$dirty && profile.gender.$error.required"
                                          style="color:red;">gender is required</span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="first_name" class=" col-sm-3 col-md-3 col-lg-2"
                                       style="text-align:right;">BusinessType:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <select class="form-control" name="businessType" style="box-shadow: none;"
                                            id="businessType" ng-model="user.business_type" required>
                                        <option value="LLC">LLC</option>
                                        <option value="Cooperartive">Cooperartive</option>
                                        <option value="Corporation">Corporation</option>
                                        <option value="Partnership">Partnership</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="sbutton" style="padding-left:100px;padding-top:20px;">
                            <button type="submit" class = "btn btn-primary" style="color:#F8F8F8;" ng-disabled="supplierform.$invalid" ng-click="updateUser(user)">Edit</button>
                            <a href="#home"><button  type="button" class = "btn btn-danger" style="color:#F8F8F8;" >Cancel</button></a>

                        </div>
                    </div>
            </div>

        </div>

    </div>


</div>


</div>
</form>
</div>
</div>
</div>
</div>


