<div class="pane-group">
  <div class="hidden-xs-down pane" id="pane">
  </div>
  <div class="pane-sm sidebar" id="registration1">
    <div class="registration">
        <span>{{success}}</span>
      <form name="Registration" class="registrationForm" style="padding:10px"> <h4 class="text-center" style="color:black; margin-top:40px;">Registrationform</h4>
        <div class="form-group">
          <label for="first_name"></label>
          <input type="text" name="first_name" value="" class="form-control" id="first_name" ng-model="user.first_name" placeholder="firstname" required/>
          <span style="color: red" ng-show="Registration.first_name.$dirty && Registration.first_name.$error.required">first name is required</span>
        </div>
        <div class="form-group">
          <input type="text" name="last_name" value="" class="form-control" id="last_name" ng-model="user.last_name" placeholder="lastname" required/>
          <span style="color: red" ng-show="Registration.last_name.$dirty && Registration.last_name.$error.required">lastname is required</span>
        </div>
        <div class="form-group">
          <input type="email" name="email" value="" class="form-control" id="email" ng-model="user.email" placeholder="email" required/>
          <span style="color: red">{{err}}</span><span style="color: red" ng-show="Registration.email.$dirty && Registration.email.$error.required">email is required</span>
        </div>
        <div class="form-group" ng-class="{'has-error':user.password.$invalid && !user.password.$pristine}">
          <input type="password" id="password" name="password" ng-model="user.password" class="form-control" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" placeholder="password" required />
          <p ng-show="Registration.password.$error.required" class="error"></p>
          <p style="color: red" ng-show="Registration.password.$error.minlength" class="error">Passwords must be between 8 and 20 characters.</p>
          <p style="color: red" ng-show="Registration.password.$error.pattern" class="error">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</p>
        </div>
        <div class="form-group" ng-class="{'has-error':user.confirm_password.$invalid && !user.confirm_password.$pristine}">
          <input type="password" class="form-control"  ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" id="confirm_password" name="confirm_password" ng-model="user.confirm_password" valid-password-c="user.password" placeholder="confirmpassword" required />
          <p style="color: red" ng-show="Registration.confirm_password.$error.noMatch" class="error">Passwords do not match.</span></p>
          <p ng-show="Registration.confirm_password.$error.required" class="error"></p>
        </div>
        <div class="form-group ">
          <label><span class="icon icon-gender"></span>
            <input type="radio" name="gender"  value=" Male"   ng-model="user.gender" required/>Male
            <input type="radio" name="gender"  value="Female"  ng-model="user.gender" required/>Female
            <span style="color: red" ng-show="Registration.gender.$dirty && Registration.gender.$error.required">gender is required</span>
          </label>
        </div>
        <div class="form-group">
          <label>BusinessType:</label>
          <select class="form-control" name="businessType" id="businessType" ng-model="user.business_type" required>
            <option value="LLC">LLC</option>
            <option value="Cooperartive">Cooperartive</option>
            <option value="Partnership">Partnership</option>
          </select>
          <span style="color: red" ng-show="Registration.business_type.$dirty && Registration.businessType.$error.required">BusinessType is required</span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-disabled="Registration.$invalid" ng-click="save(user)">Save</button>
          <a ui-sref="login">  <button class="btn btn-danger" type="button" style="float:right;" ng-click="cancel()">Cancel</button></a>
        </div>
      </form>
    </div>
  </div>
</div>
          
