<form name="setpassword">
        <div class="form-group" ng-class="{'has-error':user.password.$invalid && !user.password.$pristine}">
          <label><span class="icon icon-key"></span>Password</label>
          <input type="password" id="password" name="password" ng-model="user.password" class="form-control" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required />

          <p ng-show="setpassword.password.$error.required" class="error"></p>
          <p ng-show="setpassword.password.$error.minlength" class="error">
          Passwords must be between 8 and 20 characters.</p>
          <p ng-show="setpassword.password.$error.pattern" class="error">
          Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</p>
        </div>

        <div class="form-group" ng-class="{'has-error':user.confirm_password.$invalid && !user.confirm_password.$pristine}">
          <label for="confirm_password"><span class="icon icon-key"></span>Confirm Password</label>
          <input type="password" class="form-control" id="confirm_password" name="confirm_password" ng-model="user.confirm_password" valid-password-c="user.password" required />

          <p ng-show="setpassword.confirm_password.$error.noMatch" class="error">Passwords do not match.</p>
          <p ng-show="setpassword.confirm_password.$error.required" class="error"></p>
        </div>
          <button type="submit" class="btn btn-primary col-xs-12"  
               ng-click="setpassword(user)" ng-disabled="fform.$invalid">
                 submit</button>
          <button type="reset" class="btn btn-primary col-xs-12">
                 Reset</button>
          <a ui-sref="login"><button type="button" class="btn btn-primary col-xs-12">
                 Back</button></a>
</form>