<div class="window">
<div class="window-content">
  <div class="pane-sm sidebar" style="background-color:#4D294B;border:none;">
            <div class= "nav-group">
               <a class="nav-group-item" ui-sref="home" style="margin-top:30px;">
               <span class="icon icon-menu"></span>Dashboard
                </a>
                <a class="nav-group-item" ui-sref="customers">  
                   <span class="icon icon-users"></span>Customers
                </a>
                <a class="nav-group-item" href="#todo">
                <span class="icon icon-publish"></span>Todo
                </a>
            
                 <a class="nav-group-item" href="#items">
                       <span class="icon icon-bag"></span>Items
                 </a>
                  <a class="nav-group-item" href="#item_kits">
                       <span class="icon icon-basket"></span> Item Kits
                 </a>
               
                   <a class="nav-group-item" href="#suppliers">
                            <span class="icon icon-gauge"></span>Suppliers
                   </a>  

                   <a class="nav-group-item" href="#reports">                    
                            <span class="icon icon-list-add"></span>Reports
                  </a>

                  <a class="nav-group-item" href="#receivings">          
                            <span class="icon icon-download"></span>Receivings
                  </a>
                   
                  <a class="nav-group-item" href="#sales">   
                       <span class="icon icon-suitcase"></span>Sales
                  </a>

                    <a class="nav-group-item"  href="#employees">
                            <span class="icon icon-user"></span>Employee
                    </a>
                
                   <a class="nav-group-item" href="#giftcards">
                            <span class="icon icon-cc-share"></span>Gift Cards
                   </a>

</div>
</div>
</div>
</div>