<div class="window">
    <div class="window-content">
        <div class="pane-group">
            <div class="pane-sm sidebar">
                <div ng-include="'app/views/sidebar-view.html'"></div>
            </div>
            <!-- sidebar -->
            <div class="pane" style="border:none;">

                <div ng-include="'app/views/navbar-view.html'"></div>
                <div class="containertable" style="padding-top:90px;">
                    <div class="supbuttons" style="float:right;margin:20px 0px 20px;">
                        <a ui-sref="newsuppliers"><button type = "submit" class = "btn btn-primary">New Supplier</button>

                        </a>
                    </div>
                    <table class="SupplierTable">
                        <thead style="background-color: #8c8c8c;color:#F8F8F8;font-size:15px;">
                        <tr>
                            <th><input type="checkbox" value=""></th>
                            <th>Company Name </th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>E-mail</th>
                            <th>Phone Number</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  ng-repeat="sup in supplier" >
                            <td ><input type="checkbox" value=""></td>
                            <td>{{sup.companyname}}</td>
                            <td>{{sup.last_name}}</td>
                            <td>{{sup.first_name}}</td>
                            <td>{{sup.email}}</td>
                            <td>{{sup.phonenumber}}</td>
                            <td><a ui-sref="editSuppliers" ng-click="edit(sup.email)">Edit</a></td>
                            <td><a ui-sref="suppliers" ng-click="delete(sup.email)">Delete</a></td>



                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>