<div class="window">
    <div class="window-content">
        <div class="pane-group" style="overflow-x:hidden;">
            <div class="pane-sm sidebar">
                <div ng-include="'app/views/sidebar-view.html'"></div>
            </div>
            <!-- sidebar -->
            <div class="pane" style="border:none;overflow-x:hidden;">
                <div ng-include="'app/views/navbar-view.html'"></div>
                <form name="updatePassword" class="updatePasswordForm" style="padding-top:100px;" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group"
                                 ng-class="{'has-error':user.password.$invalid && !user.password.$pristine}">
                                <label for="password" style="text-align:right;" class=" col-sm-3 col-md-3 col-lg-2">Enter
                                    New Password:</label>

                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="password" id="password" name="password" ng-model="user.password"
                                           class="form-control" ng-minlength="8" ng-maxlength="20"
                                           ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required/>

                                    <p ng-show="updatePassword.password.$error.required" class="error"></p>

                                    <p style="color: red" ng-show="updatePassword.password.$error.minlength"
                                       class="error">Passwords must be between 8 and 20 characters.</p>

                                    <p style="color: red" ng-show="updatePassword.password.$error.pattern"
                                       class="error">Must contain one lower &amp; uppercase letter, and one non-alpha
                                        character (a number or a symbol.)</p>
                                </div>
                            </div>


                            <div class="form-group"
                                 ng-class="{'has-error':user.confirm_password.$invalid && !user.confirm_password.$pristine}">
                                <label for="confirm_password" style="text-align:right;"
                                       class=" col-sm-3 col-md-3 col-lg-2">Confirm Password:</label>

                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="password" class="form-control" ng-minlength="8" ng-maxlength="20"
                                           ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" id="confirm_password"
                                           name="confirm_password" ng-model="user.confirm_password"
                                           valid-password-c="user.password" required/>

                                    <p style="color: red" ng-show="updatePassword.confirm_password.$error.noMatch"
                                       class="error">Passwords do not match.</span></p>

                                    <p ng-show="updatePassword.confirm_password.$error.required" class="error"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="sbutton" style="padding-left:100px;padding-top:20px;">
                            <button type="submit" class="btn btn-primary"
                                    style="background-color:#4D294B;color:#F8F8F8;"
                                    ng-disabled="updatePassword.$invalid" ng-click="editPassword(user)">Update
                            </button>
                            <button type="button" class="btn btn-danger" style="background-color:#ac2925;color:#F8F8F8;"
                                    ng-click="cancel()">Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>


</div>


